amqp==1.4.9
anyjson==0.3.3
attrs==17.4.0
billiard==3.3.0.23
celery==3.1.25
dj-database-url==0.4.2
Django==1.11.10
django-celery==3.2.2
funcsigs==1.0.2
html5lib==1.0b8
kombu==3.0.37
Pillow==5.0.0
pisa==3.0.33
pluggy==0.6.0
psycopg2-binary==2.7.4
py==1.5.2
PyPDF2==1.26.0
pytest==3.4.0
python-decouple==3.1
pytz==2018.3
reportlab==3.4.0
simplejson==3.13.2
six==1.11.0
webencodings==0.5.1
whitenoise==3.3.1
xhtml2pdf==0.0.6
