/* your styles go here */
body {

    background-color: #f8f8f8;
}

#header {
	height: 80px !important;
}

#content {
    padding: 10px 0px;
    width: 100% !important;
}

footer.main-footer{
    background: none !important;
}

.first-section .second-section{
    display:flex;
}

.bar-chart {
   margin-top:0;
   vertical-align: text-top;
}
