{% comment %}
Note:
- Do NOT use fixed width for tables (Instead use table in table; Stupid I know)
- Use width style over class
{% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <title>Tax Receipt {{ tax_receipt_no}}.pdf</title>
    <link rel="stylesheet" type="text/css" href="{{css_path}}">
</head>
<body>
    <table class="w-100">
    <tr>
    {#  Header Left - Logo and Subtitle  #}
    <td>
        <table>
        <tr>
        <td style="width: 17%"></td>
        <td class="ta-c" style="width: 66%">
            &nbsp;
            <img src="{{ logo_path }}" class="w-150px"><br>
            <img src="{{ slogan_path }}" class="w-200px">
            {% comment %} <p class="bg-lightyellow p-t-2px"> Making A Difference <b>One Computer at a Time</b></p> {% endcomment %}
        </td>
        <td style="width: 17%"></td>
        </tr>
        </table>
    </td>
    {#  Header Right  #}
    <td>
        {#  Title  #}
        <div class="va-b ta-r">
            {% comment %} <h3 class="reboot-yellow">This is your tax receipt from reBOOT.</h3> {% endcomment %}
            <h1>Official {{date.year}} Receipt for Income Tax Purposes</h1>
        </div>
        {#  Date & Receipt Number  #}
        <table>
        <tr>
        <td style="width: 33%;"></td>
        <td style="width: 67%;">
            <table class="tb-min">
            <tr>
                <th>Date Received</th>
                <th>Receipt Number</th>
            </tr>
            <tr>
                <td class="b-1px fw-bold">{{ date }}</td>
                <td class="b-1px fw-bold">{{ tax_receipt_no }}</td>
            </tr>
            </table>
        </td>
        </tr>
        </table>
    </td>
    </tr>
    </table>

    <br><br>

    <table>
    <tr>
    {% comment %} Donor {% endcomment %}
    <td style="width: 55%">
        <table class="table-donor b-none">
            <tr>
                <th style="text-align:left; background-color: #f9e96c;">&nbsp;Donor</th>
            </tr>
            <tr>
                <td class="bg-fadedyellow b-1px va-m ta-c">
                    <medium>
                        <p>{{ donor.donor_name }}</p>
                        <p>{{ donor.address_line_one }}</p>
                        <p>{{ donor.city }}, {{ donor.province }}</p>
                        <p>{{ donor.postal_code }}</p>
                    </medium>
                </td>
            </tr>
        </table>
    </td>
    {% comment %} Contact & CRA {% endcomment %}
    <td style="width: 45%">
        <table>
        <tr>
        <td style="width: 25%"></td>
        <td style="width: 75%">
            <table class="table-donor b-none">
                <tr>
                    <th colspan="2" style="text-align: left">&nbsp;Contact</th>
                </tr>
                <tr style="b-1px">
                    <td class="b-l-1px fw-bold" style="width: 30%; text-align: left">&nbsp;Name</td>
                    <td class="b-r-1px" style="width: 70%; ">{{ donor.contact_name }}</td>
                </tr>
                <tr style="b-1px">
                    <td class="b-l-1px fw-bold" style="text-align: left">&nbsp;Telephone</td>
                    <td class="b-r-1px">{{ donor.telephone_number }}</td>
                </tr>
                <tr style="b-1px">
                    <td class="b-l-1px fw-bold" style="text-align: left">&nbsp;Mobile</td>
                    <td class="b-r-1px">{{ donor.mobile_number }}</td>
                </tr>
                <tr style="b-1px">
                    <td class="b-l-1px fw-bold" style="text-align: left">&nbsp;Email</td>
                    <td class="b-r-1px">{{ donor.email }}</td>
                </tr>
            </table>
            <table class="table-donor b-none">
                <tr>
                    <th>Pick-Up Postal Code</th>
                    <th>Customer Reference</th>
                </tr>
                <tr>
                    <td class="table-border b-1px fw-bold">{{ pick_up }}</td>
                    <td class="table-border b-1px fw-bold ta-c">{{ donor.customer_ref }}</td>
                </tr>
            </table>
            <br>
            <table class="table-donor b-none">
                <tr>
                    <th>Canada Revenue Agency</th>
                </tr>
                <tr>
                    <td class="b-1px ta-c fw-bold">www.ccra-adrc.gc.ca/charities</td>
                </tr>
            </table>
        </td>
        </tr>
        </table>
    </td>
    </tr>
    </table>

    <br><br>

    <table repeat="2" class="table-donor b-none">
        <thead>
        <tr>
            <th colspan="6" style="text-align: left">&nbsp;Donation Summary</th>
        </tr>
        </thead>
        <tbody style="min-height: 1000px;">
        <tr>
            <td class="fw-bold b-lr-1px" style="width:100px">&nbsp;<u>Qty</u></td>
            <td class="fw-bold">&nbsp;<u>Brand</u></td>
            <td class="fw-bold">&nbsp;<u>Description</u></td>
            <td class="fw-bold">&nbsp;<u>Model</u></td>
            <td class="fw-bold" style="width:100px">&nbsp;<u>Unit Price</u></td>
            <td class="fw-bold b-lr-1px" style="width:150px">&nbsp;<u>Total Value</u></td>
        </tr>

        {% for item in list_of_items %}
        <tr>
            <td class="b-lr-1px ta-c">&nbsp;{{ item.quantity }}</td>
            <td>&nbsp;{{ item.device.make }}</td>
            <td>&nbsp;{{ item.description }}</td>
            <td>&nbsp;{{ item.device.model }}</td>
            <td class="ta-r">{{ item.value }}&nbsp;</td>
            <td class="b-lr-1px ta-r">{{ item.total_value }}&nbsp;</td>
        </tr>
        {% endfor %}

        {% for i in empty_rows %}
        <tr>
            <td class="b-lr-1px ta-c">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="ta-r">&nbsp;</td>
            <td class="b-lr-1px ta-r">&nbsp;</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table-donor b-none">
        <tr>
            <td style="width:100px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="width:100px"></td>
            <td style="width:150px"></td>
        </tr>
        <tr>
            <td colspan="1" class="b-1px ta-c va-m">{{ total_quant }}</td>
            <td colspan="4" class="b-1px ta-c va-m">Business No: 89111 4043 RR0001</td>
            <td colspan="1" class="b-1px ta-r va-m">{{ total_value }}&nbsp;</td>
        </tr>
    </table>

    <br><br>

    {% comment %} Signature {% endcomment %}
    <table>
        <tr class="va-m">
            <td style="width:300px; text-align: right; padding-right: 3px;"><medium>Signature:</medium></td>
            <td><center><img src="{{sign_path}}" class="w-150px"></center></td>
            <td style="width:250px"></td>
        </tr>
        <tr>
            <td style="width:300px"></td>
            <td style="border-top: 1px solid black; padding-top: 2px;"><center><small>Colin Webster, Chaiman, reBOOT Canada</small></center></td>
            <td style="width:250px"></td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:300px; text-align: right; padding-right: 3px;"><medium>Issue Date:</medium></td>
            <td><center><medium>{{ generated_date }}</medium></center></td>
            <td style="width:250px"></td>
        </tr>
        <tr>
            <td style="width:300px"></td>
            <td style="border-top: 1px solid black">&nbsp;</td>
            <td style="width:250px"></td>
        </tr>
    </table>

    <br><br>

    {% comment %} reBOOT Contact Info {% endcomment %}
    <img src="{{footer_path}}" style="width: 100%">
</body>
</html>
