<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<!--

THESE ARE THE VARIABLES USED TO ACCESS A SINGLE DONOR'S INFORMATION:
generated_date
date
address
city
province
postalcode
telephone
email
customer_name
order_id
listofitems <-- this is a list, can access each item inside items model using a for loop
total <-- total value of all the items.

refer to https://github.com/xhtml2pdf/xhtml2pdf/blob/master/doc/source/reference.rst for the available CSS properties.
-->


<html>
    <head>
        <title> Tax receipt for: {{ customer_name }} </title>
        <link rel="stylesheet" type="text/css" href="app/templates/pdf/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="app/templates/pdf/css/receipt.css">
    </head>
    <body style="text-align: center;">

    {#  Header  #}
    {% comment %}<!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">{% endcomment %}
    <table class="row" style="width: 90%">
        <tr>
            <td>&nbsp;<img src="app/templates/pdf/img/reboot.png" style="width: 130px"><br>
                <small class="text-reboot-msg"> Making A Difference <b>One Computer at a Time</b></small>
            </td>
            <td style="vertical-align: middle; text-align: right">
                <h5>Official Receipt for Income Tax Purposes<br>
                    <small class="text-reboot-yellow">This is your tax receipt from reBOOT this year</small>
                </h5>

            </td>
        </tr>
    </table>
    {% comment %}</div>{% endcomment %}
    <!-- Content for Static Frame 'footer_frame' -->


    {#  Donor Info  #}
    <table style="width: 100%;">
        <col width="130">
        <col width="20px">
        <col width="130">


        {#  Date & Receipt Number  #}
        <tr>
            <td style="width: 100%"></td>
            <td></td>
            <td style="max-width: 200px">
                <table class="table-min" style="width: 150px">
                    <tr>
                        <th>Date Received</th>
                        <th>Receipt Number</th>
                    </tr>
                    <tr>
                        <td class="table-border">{{ date }}</td>
                        <td class="table-border">{{ tax_receipt_no }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr></tr>
        <tr>
            {#  Address  #}
            <td class="table-border" style="vertical-align: top;" rowspan=3>
                <table class="table-donor">
                    <tr>
                        <th>Donor</th>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">
                            <large>
                                <p>{{ customer_name }}</p>
                                <p>{{ address }}</p>
                                <p>{{ city }}, {{ province }}</p>
                                <p>{{ postalcode }}</p>
                            </large>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>

            {#  Contact Info  #}
            <td class="table-border">
                <table class="table-donor">
                    <tr>
                        <th colspan="3">Contact</th>
                    </tr>
                    <tr>
                        <td style="text-align: right">Name</td>
                        <td colspan="2">{{ customer_name }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Telephone</td>
                        <td colspan="2">{{ telephone }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Mobile</td>
                        <td colspan="2">{{ mobile }}</td>
                    </tr>
                    </tr>
                    <tr>
                        <td style="text-align: right">Email</td>
                        <td colspan="2">{{ mobile }}</td>
                    </tr>
                </table>
                <table class="table-donor">
                    <tr>
                        <th>Pick-Up Postal Code</th>
                        <th>Customer Reference</th>
                    </tr>
                    <tr>
                        <td class="table-border">?????</td>
                        <td class="table-border">????-????</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td class="table-border">
                <table class="table-donor">
                    <tr>
                        <th>Canada Revenue Agency</th>
                    </tr>
                    <tr>
                        <td style="text-align: center">www.ccra-adrc.gc.ca/charities</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="3" class="table-border">
                <table class="table-donor" style="min-height: 600px;">
                    <tr>
                        <th colspan="6">Donation Summary</th>
                    </tr>
                    <tr>
                        <td><u>Qty</u></td>
                        <td><u>Brand</u></td>
                        <td><u>Description</u></td>
                        <td><u>Model</u></td>
                        <td><u>Price / Unit</u></td>
                        <td><u>Total (rounded)</u></td>
                    </tr>
                    {% for item in listofitems %}
                        <tr>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.manufacturer }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.model }}</td>
                            <td>{{ item.value }}</td>
                            <td> {% widthratio item.value 1 item.quantity %} </td>
                        </tr>
                    {% endfor %}

                </table>

            </td>
        </tr>
        <tr>
            <td colspan="3" class="table-border">
                <table class="table-donor">
                    <tr>
                        <td class="table-border">{{ totalqty }}</td>
                        <td colspan="4" class="table-border">Business No: 89111 4043 RR0001</td>
                        <td class="table-border">{{ totalvalue }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <div class="text-rebootinfo"> Mailing Address: 15 Prince Arthur Avenue, Toronto, ON, M5R 1B2 </br>
        Drop off Address: 2450 Lawrence Avenue East, Unit 1, Scarborough, ON, M1P 2R7 <br>
        Please visit our website atwww.rebootcanada.ca
    </div>
    <p>Generated on: {{ generated_date }} </p>
    </body>
</html>
