{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrahead %}
{{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Use if celery worker work queue doesn't work. -->
    <!-- <script src="{% static "admin/js/index.js" %}"></script> -->
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('reBOOT') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> <img style="margin-bottom:5px;" src="{% static "admin/img/reboot-logo.png" %}"></a></h1>

{% endblock %}

{% block nav-global %}{% endblock %}
