{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrahead %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/index.css" %}"/>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/globals.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.min.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
    
    <!-- Use if celery worker work queue doesn't work. -->
    <!-- <script src="{% static "admin/js/admin/index.js" %}"></script> -->
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('reBOOT') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> <img style="margin-bottom:5px;" src="{% static "admin/img/reboot-logo.png" %}"></a></h1>

{% endblock %}

{% block nav-global %}{% endblock %}
