
.text-reboot-yellow {
    color: #e0c93c;
}

.text-reboot-msg {
    background-color: #f9e96c;
}

.table-min th,
.table-min td {
    padding: 2px 0 -2px 0;
}

.table-min td {
    border: 1px solid #505050;
}

.table-donor {
    border: none;
}

.table-donor th,
.table-donor td {
    padding: 2px 0 -2px 0;
}

.table-donor th {
    background-color: #f9e96c;
    border: 1px solid #505050;
}

.table-border {
    border: 1px solid #505050;
}

td.donor_info {
    vertical-align: top;
}

td.donor_label {
    text-align: right;
}

large {
    margin: 5px;
    font-size: 18px;
}

.text-rebootinfo {
    position: absolute;
    bottom: 70px;
    padding-top: 10px;
    background-color: #f9e96c;
}