{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/index.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "admin/js/globals.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/prepopulate.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/vue/vue.js" %}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
    <h1>General Form</h1>

    <div id="gen_from"></div>
    <div id="donor"></div>
    <div id="donation"></div>
    <div id="item"></div>

    <script type="text/javascript" src="{% static "admin/js/pages/gen_form/gen_form.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/pages/gen_form/donor_form.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/pages/gen_form/donation_form.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/pages/gen_form/item_form.js" %}"></script>
{% endblock %}