{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
  <script src="{% static "admin/vendor/jquery/jquery.1.12.4.js" %}"></script>
  <script src="{% static "admin/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}

<style>
.progress {
  width: 100%;
  border-radius: 4px;
  box-shadow: inset 0 0.5em 0.5em rgba(0,0,0,0.05);
  overflow: hidden;
  position: relative;
  height: 20px;
  margin: 10px;
}
.bar {
  width: 1%;
  padding-left: 10px;
  height: 30px;
  background-color: rgb(102, 255, 51);
  box-shadow: inset 0 0.5em 0.5em rgba(0,0,0,0.05);
  transition: all 500ms ease-out;
}
 </style>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Processing</title>
</head>

<body>

<p>Your task is <span id="user-count">still processing</span>!</p>

<div class="status"></div>
{% if task_id %}
  <div class="progress">
    <div class="bar" role="progressbar"></div>
  </div>
{% endif %}
</div>
<input id="returnBtn" type=button value="Previous Page" style="visibility:hidden; margin-left: 50px; margin-top:10px;"onClick="javascript:history.go(-1);">

<script type="text/javascript">
  var task_id = "{{task_id}}";
  var task_name = "{{task_name}}";
  var refreshIntervalId = setInterval(poll, 500);

  function poll() {
    $.ajax({
      url: "/upload/poll_state",
      type: "POST",
      data: {
        task_id: task_id,
        task_name: task_name,
        csrfmiddlewaretoken: "{{csrf_token}}",
      },
      success: function(result) {
        let percent = result.process_percent || 0;
        $(".bar").html(percent + "%").css({"width": percent + "%"});
        $("#user-count").text("still processing");
        return result;
      }
    }).always(function(result) {
      if (result === "SUCCESS") {
        clearInterval(refreshIntervalId);
        $(".bar").html("100%").css("width", "100%");
        $("#user-count").text("complete");
        $("#returnBtn").css("visibility", "visible");

        if (window.location.href.indexOf("/download") != -1) {
          window.location.href = "/download?task_name=" + task_name + "&task_id=" + task_id;
        }
      }
    });
  };
</script>
</body>
</html>

{%endblock%}
