{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<style>

  .progress {
    width: 100%;
    border-radius: 4px;
    box-shadow: inset 0 0.5em 0.5em rgba(0,0,0,0.05);
    overflow: hidden;
    position: relative;
    height: 20px;
    margin: 10px;
  }
  .bar {
    width: 1%;
    padding-left: 10px;
    height: 30px;
    background-color: rgb(102, 255, 51);
    box-shadow: inset 0 0.5em 0.5em rgba(0,0,0,0.05);
    transition: all 500ms ease-out;
  }

 </style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Processing</title>
</head>

<body>

<p>Your task is <span id="user-count">still processing</span>!</p>

<div class="status"></div>
{% if task_id %}
  <div class="progress">
    <div class="bar" role="progressbar"></div>
  </div>
{% endif %}
</div>
<input id="returnBtn" type=button value="Previous Page" style="visibility:hidden; margin-left: 50px; margin-top:10px;"onClick="javascript:history.go(-1);">

<script type="text/javascript">
  var willstop = false;
  var task_id;

  (function(){
    var poll = function(){
      var json_dump = "{{ data }}";
      task_id = "{{task_id}}";
      
      $.ajax({
        url:'poll_state',
        type: 'POST',
        data: {
          task_id: task_id,
          csrfmiddlewaretoken: "{{csrf_token}}",
        },
        success: function(result) {
          if (result == "Not JSON" || result == "SUCCESS" || result.state == "COMPLETE") {
            willstop = true;
            $("#user-count").textContent="complete";
            $('.bar').css({'width': 100 + '%'});
            $('.bar').html(100 + '%');
            document.getElementById('returnBtn').style.visibility = 'visible';
          } else {
            $('.bar').css({'width': result.process_percent + '%'});
            $('.bar').html(result.process_percent + '%');
            $("#user-count").textContent="still processing";
          }
        }
      });
    };
    var refreshIntervalId = setInterval(function() {
      poll();
      if(willstop){
        clearInterval(refreshIntervalId);
        if(window.location.href.indexOf("download_pdf") != -1){
          window.location.href = "download/pdf" +"/?"+ "task_id=" + task_id;
        }
      }
    },500);
  })();

</script>
</body>
</html>

{%endblock%}
